input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

body {
    background-image: url('../img/capa.png');
    background-repeat: no-repeat;
    background-attachment: relative;
    background-position: relative;
    background-size: 100%;
    background-color: #f5efe0;
  }
  
  
  section{
      min-height: 100vh;
      width: 100%;
  }
  
  @media screen and (max-width: 500px) {
    body {
      background-size: 800px;
    }
  }
  
  @media screen and (max-width: 300px) {
    body {
      background-size: 600px;
    }
  }

h3 {
    color: #111;
    text-shadow: 2px 2px 5px rgb(65, 56, 56)
}

